

<?xml version="1.0" encoding="UTF-8"?>

<!-- Aircraft-specific menu for the BAe 146 -->

<PropertyList>

    <default>

        <menu n="10">

            <label>BAe 146</label>

            <enabled type="bool">true</enabled>

            <item>
                <label>Autostart</label>
                
                <binding>
                    <condition>
                        <equals>
                            <property>sim/flight-model</property>
                            <value>jsb</value>
                        </equals>
                    </condition>
                    <command>property-toggle</command>
                    <property>sim/model/autostart-jsb</property>
                </binding>
            </item>

            <item>
                <label>Options</label>
                <binding>
                    <command>nasal</command>
                    <script>fgcommand("dialog-show", props.Node.new({"dialog-name": "options"}));</script>
                </binding>
            </item>

            <item>
                <label>---Ground Services---</label>
                <enabled>false</enabled>
            </item>

            <item>
                <label>Fuel truck</label>
                <binding>
                    <command>nasal</command>
                    <script>fgcommand("dialog-show", props.Node.new({"dialog-name": "fuel-truck"}));</script>
                </binding>
            </item>

            <item>
                <label>-----------------</label>
                <enabled>false</enabled>
            </item>


            <item>
                <label>Select Livery</label>
                <binding>
                    <command>nasal</command>
                    <script>aircraft.livery.dialog.open()</script>
                </binding>
            </item>

            <item>
                <label>About this aircraft</label>
                <binding>
                    <command>dialog-show</command>
                    <dialog-name>Bae146-about</dialog-name>
                </binding>
            </item>

        </menu>

    </default>

</PropertyList>
